<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
    <ion-buttons end>
      <button ion-button color="primary" (click)="openFiltersModal()">
          Filter
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="card-background-page">
  <ion-card *ngFor="let deal of filteredList" (click)="viewDetails(deal)">
    <img src="assets/imgs/restaurants-pictures/{{deal.picture}}"/>
    <div class="card-left">
        <div class="card-title">{{deal.name}}</div>
        <div class="card-deal">{{deal.description}}</div>
        <div class="card-distance">{{deal.distance}}km away</div>
    </div>
    <div class="card-right">
        <div class="card-title">{{deal.restaurantName}}</div>
        <div class="card-subtitle">{{deal.type}}</div>
        <div class="card-label">

            <ion-icon *ngIf="deal.labels.includes('cheap')" name="logo-euro"></ion-icon>
            <ion-icon *ngIf="deal.labels.includes('cheap') || deal.labels.includes('medium')" name="logo-euro"></ion-icon>
            <ion-icon *ngIf="deal.labels.includes('cheap') || deal.labels.includes('medium') || deal.labels.includes('expensive')" name="logo-euro"></ion-icon>
            <ion-icon style="margin-left:5px;" *ngIf="deal.labels.includes('vegetarian') && !deal.labels.includes('vegan')" name="nutrition"></ion-icon>
            <ion-icon style="margin-left:5px;" *ngIf="deal.labels.includes('vegan')" name="leaf"></ion-icon>
            <ion-icon style="margin-left:5px;" *ngIf="deal.labels.includes('forStudent')" name="school"></ion-icon>
        </div>
    </div>
  </ion-card>

</ion-content>
